@charset "UTF-8";

body{
	color: red;
}

#sidebarLeft{
	width: 46%;
}
#mainContent{
	width: 46%;
}
#sidebarRight{
	clear: both;
	float: none;
	width: auto;
	padding: 2%;
}


@media screen and (max-width: 500px){
	#sidebarLeft{
		width: auto;
		float: none;
		margin: 0%;
	}
	#mainContent{
		width: auto;
		float: none;
		margin: 0%;
	}
	#sidebarRight{
		width: auto;
		float: none;
		margin: 0%;
	}
}
